[submodule "LSGI547-Advanced Geographic Information Systems/LandslideAnalysis"]
	path = LSGI547-Advanced Geographic Information Systems/LandslideAnalysis
	url = https://github.com/DingkangTeng/LandslideAnalysis.git
